Passenger Information January 2022

In [66]:
pip install PyPDF2

Requirement already satisfied: PyPDF2 in c:\users\user\anaconda3\lib\site-packages (1.27.12)
Note: you may need to restart the kernel to use updated packages.

In [67]:
pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\user\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: distro in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.7.0)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.20.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\user\anaconda3\lib\site-packages (from tabula-py) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [68]:
import PyPDF2
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import time
import json
import os
import urllib.request
import io
import tabula
import ssl

In [69]:
#url = "https://www.iaa.gov.il/media/oril01yl/%D7%93%D7%95%D7%97-%D7%A4%D7%A2%D7%99%D7%9C%D7%95%D7%AA-%D7%97%D7%95%D7%93%D7%A9%D7%99-%D7%A0%D7%AA%D7%91%D7%92-%D7%99%D7%A0%D7%95%D7%90%D7%A8-2022.pdf"
url = "TLV-Airport-Status-January-2022.pdf"

In [70]:
pdf_contry_jan = tabula.read_pdf("TLV-Airport-Status-January-2022.pdf", pages="20-21")
print(len(pdf_contry_jan))
print(pdf_contry_jan)
pdf_contry_jan[0].to_csv("pdf_contry_jan0.csv")
pdf_contry_jan[1].to_csv("pdf_contry_jan1.csv")

4
[      שיעור שיעור.1  נוסעים שיעור.2 נוסעים.1            Unnamed: 0  מדינות
0    השינוי   מסה"כ     NaN   מסה"כ      NaN                   NaN     NaN
1       NaN  23.74%  20,703  15.94%   67,021         UNITED STATES     NaN
2       NaN  19.15%  16,702  12.25%   51,530                TURKEY     NaN
3       NaN   9.50%   8,288   5.93%   24,959                FRANCE     NaN
4       NaN   7.07%   6,170   5.90%   24,835               UKRAINE     NaN
5       NaN   4.92%   4,295   5.37%   22,591               GERMANY     NaN
6   119.65%  11.26%   9,822   5.13%   21,575  UNITED ARAB EMIRATES     NaN
7       NaN   0.26%     235   4.14%   17,421                 ITALY     NaN
8       NaN   0.05%      51   4.03%   16,961               GEORGIA     NaN
9       NaN   4.01%   3,501   3.70%   15,570        UNITED KINGDOM     NaN
10      NaN   1.73%   1,511   3.64%   15,330               AUSTRIA     NaN
11      NaN   3.15%   2,748   3.23%   13,611    RUSSIAN FEDERATION     NaN
12      NaN   0.02%      22   2.83%   11,924                POLAND     NaN
13      NaN   0.47%     411   2.69%   11,351              BULGARIA     NaN
14      NaN   0.64%     563   2.51%   10,554               ROMANIA     NaN
15      NaN   0.73%     643   2.38%   10,042           SWITZERLAND     NaN
16      NaN   0.24%     213   2.32%    9,768               HUNGARY     NaN
17      NaN   0.51%     448   2.06%    8,684                 SPAIN     NaN
18      NaN   1.14%     998   2.01%    8,477           NETHERLANDS     NaN
19      NaN   0.25%     224   2.01%    8,466                CYPRUS     NaN
20      NaN   1.26%   1,104   1.89%    7,978                GREECE     NaN
21      NaN   0.02%      19   1.89%    7,967        CZECH REPUBLIC     NaN
22      NaN   0.60%     525   1.72%    7,243              THAILAND     NaN,    תנועת נוסעים בטיסות בינ''ל\rהתפלגות על פי מדינות לחודש ינואר    Unnamed: 0  \
0                                                 NaN              ינואר 2021
1                                       שיעור\rהשינוי            שיעור\rמסה"כ
2                                              30.86%                   3.57%
3                                                 NaN                   0.35%
4                                             191.36%                   1.14%
5                                                 NaN                   0.23%
6                                                 NaN                   0.64%
7                                             135.09%                   0.78%
8                                              62.96%                   1.02%
9                                                 NaN                   0.09%
10                                                NaN                     NaN
11                                                NaN                     NaN
12                                                NaN                     NaN
13                                                NaN                     NaN
14                                                NaN                     NaN
15                                                NaN                     NaN
16                                            -13.92%                   0.40%
17                                                NaN                     NaN
18                                            -76.74%                   0.92%
19                                                NaN                     NaN

    Unnamed: 1    Unnamed: 2 Unnamed: 3  Unnamed: 4
0   ינואר 2022           NaN        NaN         NaN
1       נוסעים  שיעור\rמסה"כ     נוסעים      מדינות
2        3,114         0.96%      4,075    ETHIOPIA
3          310         0.96%      4,066     BELGIUM
4          996         0.69%      2,902     MOLDOVA
5          202         0.60%      2,524      JORDAN
6          565         0.45%      1,910     BELARUS
7          681         0.38%      1,601       INDIA
8          891         0.34%      1,452      CANADA
9           80         0.34%      1,439       EGYPT
10         NaN         0.31%      1,338   LITHUANIA
11           5         0.28%      1,196    PORTUGAL
12         NaN         0.26%      1,117  AZERBAIJAN
13         NaN         0.25%      1,057  UZBEKISTAN
14         NaN         0.18%        766     BAHRAIN
15         NaN         0.08%        376       MALTA
16         352         0.07%        303  SEYCHELLES
17         NaN         0.06%        271      LATVIA
18         804         0.04%        187       אחרים
19      87,196           NaN    420,438       סה''כ  , Empty DataFrame
Columns: [17]
Index: [], Empty DataFrame
Columns: [לשכת מנהל נמל התעופה הבינלאומי בן-גוריון]
Index: []]

In [71]:
#df0 = pd.read_csv("first_table_contry_jan.csv")
#df1 = pd.read_csv("second_table_contry_jan.csv")
#print(df0)
#print(df1)
df0_country = pd.read_csv("pdf_contry_jan0.csv")
df1_country = pd.read_csv("pdf_contry_jan1.csv")

In [72]:
df0_country

,Unnamed: 0,שיעור,שיעור.1,נוסעים,שיעור.2,נוסעים.1,Unnamed: 0.1,מדינות
0,0,השינוי,"מסה""כ",NaN,"מסה""כ",NaN,NaN,NaN
1,1,NaN,23.74%,"20,703",15.94%,"67,021",UNITED STATES,NaN
2,2,NaN,19.15%,"16,702",12.25%,"51,530",TURKEY,NaN
3,3,NaN,9.50%,"8,288",5.93%,"24,959",FRANCE,NaN
4,4,NaN,7.07%,"6,170",5.90%,"24,835",UKRAINE,NaN
5,5,NaN,4.92%,"4,295",5.37%,"22,591",GERMANY,NaN
6,6,119.65%,11.26%,"9,822",5.13%,"21,575",UNITED ARAB EMIRATES,NaN
7,7,NaN,0.26%,235,4.14%,"17,421",ITALY,NaN
8,8,NaN,0.05%,51,4.03%,"16,961",GEORGIA,NaN
9,9,NaN,4.01%,"3,501",3.70%,"15,570",UNITED KINGDOM,NaN
10,10,NaN,1.73%,"1,511",3.64%,"15,330",AUSTRIA,NaN
11,11,NaN,3.15%,"2,748",3.23%,"13,611",RUSSIAN FEDERATION,NaN
12,12,NaN,0.02%,22,2.83%,"11,924",POLAND,NaN
13,13,NaN,0.47%,411,2.69%,"11,351",BULGARIA,NaN
14,14,NaN,0.64%,563,2.51%,"10,554",ROMANIA,NaN
15,15,NaN,0.73%,643,2.38%,"10,042",SWITZERLAND,NaN
16,16,NaN,0.24%,213,2.32%,"9,768",HUNGARY,NaN
17,17,NaN,0.51%,448,2.06%,"8,684",SPAIN,NaN
18,18,NaN,1.14%,998,2.01%,"8,477",NETHERLANDS,NaN
19,19,NaN,0.25%,224,2.01%,"8,466",CYPRUS,NaN
20,20,NaN,1.26%,"1,104",1.89%,"7,978",GREECE,NaN
21,21,NaN,0.02%,19,1.89%,"7,967",CZECH REPUBLIC,NaN
22,22,NaN,0.60%,525,1.72%,"7,243",THAILAND,NaN

In [73]:
df0_country = df0_country.drop(['מדינות'],axis=1)
df0_country = df0_country.drop(['Unnamed: 0'], axis=1)
#df0_country = df0_country.drop(['Unnamed: 0.1'], axis=1)
df0_country = df0_country.drop(['שיעור'], axis=1)
df0_country = df0_country.iloc[1:]

In [74]:
df0_country = df0_country.rename(columns={'Unnamed: 0.1': 'Country'})
df0_country = df0_country.rename(columns={'נוסעים.1': 'Passengers'})
df0_country = df0_country.rename(columns={'שיעור.2': 'Passengers %'})
df0_country = df0_country.rename(columns={'נוסעים': 'Passengers Last-Y'})
df0_country = df0_country.rename(columns={'שיעור.1': 'Passengers Last-Y %'})
df0_country

,Passengers Last-Y %,Passengers Last-Y,Passengers %,Passengers,Country
1,23.74%,"20,703",15.94%,"67,021",UNITED STATES
2,19.15%,"16,702",12.25%,"51,530",TURKEY
3,9.50%,"8,288",5.93%,"24,959",FRANCE
4,7.07%,"6,170",5.90%,"24,835",UKRAINE
5,4.92%,"4,295",5.37%,"22,591",GERMANY
6,11.26%,"9,822",5.13%,"21,575",UNITED ARAB EMIRATES
7,0.26%,235,4.14%,"17,421",ITALY
8,0.05%,51,4.03%,"16,961",GEORGIA
9,4.01%,"3,501",3.70%,"15,570",UNITED KINGDOM
10,1.73%,"1,511",3.64%,"15,330",AUSTRIA
11,3.15%,"2,748",3.23%,"13,611",RUSSIAN FEDERATION
12,0.02%,22,2.83%,"11,924",POLAND
13,0.47%,411,2.69%,"11,351",BULGARIA
14,0.64%,563,2.51%,"10,554",ROMANIA
15,0.73%,643,2.38%,"10,042",SWITZERLAND
16,0.24%,213,2.32%,"9,768",HUNGARY
17,0.51%,448,2.06%,"8,684",SPAIN
18,1.14%,998,2.01%,"8,477",NETHERLANDS
19,0.25%,224,2.01%,"8,466",CYPRUS
20,1.26%,"1,104",1.89%,"7,978",GREECE
21,0.02%,19,1.89%,"7,967",CZECH REPUBLIC
22,0.60%,525,1.72%,"7,243",THAILAND

In [75]:
df1_country

,Unnamed: 0,תנועת נוסעים בטיסות בינ''ל\rהתפלגות על פי מדינות לחודש ינואר,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,NaN,ינואר 2021,ינואר 2022,NaN,NaN,NaN
1,1,שיעור\rהשינוי,"שיעור\rמסה""כ",נוסעים,"שיעור\rמסה""כ",נוסעים,מדינות
2,2,30.86%,3.57%,"3,114",0.96%,"4,075",ETHIOPIA
3,3,NaN,0.35%,310,0.96%,"4,066",BELGIUM
4,4,191.36%,1.14%,996,0.69%,"2,902",MOLDOVA
5,5,NaN,0.23%,202,0.60%,"2,524",JORDAN
6,6,NaN,0.64%,565,0.45%,"1,910",BELARUS
7,7,135.09%,0.78%,681,0.38%,"1,601",INDIA
8,8,62.96%,1.02%,891,0.34%,"1,452",CANADA
9,9,NaN,0.09%,80,0.34%,"1,439",EGYPT
10,10,NaN,NaN,NaN,0.31%,"1,338",LITHUANIA
11,11,NaN,NaN,5,0.28%,"1,196",PORTUGAL
12,12,NaN,NaN,NaN,0.26%,"1,117",AZERBAIJAN
13,13,NaN,NaN,NaN,0.25%,"1,057",UZBEKISTAN
14,14,NaN,NaN,NaN,0.18%,766,BAHRAIN
15,15,NaN,NaN,NaN,0.08%,376,MALTA
16,16,-13.92%,0.40%,352,0.07%,303,SEYCHELLES
17,17,NaN,NaN,NaN,0.06%,271,LATVIA
18,18,-76.74%,0.92%,804,0.04%,187,אחרים
19,19,NaN,NaN,"87,196",NaN,"420,438",סה''כ

In [76]:
df1_country = df1_country.iloc[2:]
df1_country = df1_country.drop(['Unnamed: 0'], axis=1)
df1_country = df1_country.rename(columns={'Unnamed: 4': 'Country'})
df1_country = df1_country.rename(columns={'Unnamed: 3': 'Passengers'})
df1_country = df1_country.rename(columns={'Unnamed: 2': 'Passengers %'})
df1_country = df1_country.rename(columns={'Unnamed: 1': 'Passengers Last-Y'})
df1_country = df1_country.rename(columns={'Unnamed: 0.1': 'Passengers Last-Y %'})
df1_country = df1_country.drop(df1_country.iloc[:, [0, 0]], axis=1)
df1_country

   Passengers Last-Y % Passengers Last-Y Passengers % Passengers     Country
2                3.57%             3,114        0.96%      4,075    ETHIOPIA
3                0.35%               310        0.96%      4,066     BELGIUM
4                1.14%               996        0.69%      2,902     MOLDOVA
5                0.23%               202        0.60%      2,524      JORDAN
6                0.64%               565        0.45%      1,910     BELARUS
7                0.78%               681        0.38%      1,601       INDIA
8                1.02%               891        0.34%      1,452      CANADA
9                0.09%                80        0.34%      1,439       EGYPT
10                 NaN               NaN        0.31%      1,338   LITHUANIA
11                 NaN                 5        0.28%      1,196    PORTUGAL
12                 NaN               NaN        0.26%      1,117  AZERBAIJAN
13                 NaN               NaN        0.25%      1,057  UZBEKISTAN
14                 NaN               NaN        0.18%        766     BAHRAIN
15                 NaN               NaN        0.08%        376       MALTA
16               0.40%               352        0.07%        303  SEYCHELLES
17                 NaN               NaN        0.06%        271      LATVIA
18               0.92%               804        0.04%        187       אחרים
19                 NaN            87,196          NaN    420,438       סה''כ

In [77]:
df_country = pd.concat([df0_country,df1_country])
df_country

,Passengers Last-Y %,Passengers Last-Y,Passengers %,Passengers,Country
1,23.74%,"20,703",15.94%,"67,021",UNITED STATES
2,19.15%,"16,702",12.25%,"51,530",TURKEY
3,9.50%,"8,288",5.93%,"24,959",FRANCE
4,7.07%,"6,170",5.90%,"24,835",UKRAINE
5,4.92%,"4,295",5.37%,"22,591",GERMANY
6,11.26%,"9,822",5.13%,"21,575",UNITED ARAB EMIRATES
7,0.26%,235,4.14%,"17,421",ITALY
8,0.05%,51,4.03%,"16,961",GEORGIA
9,4.01%,"3,501",3.70%,"15,570",UNITED KINGDOM
10,1.73%,"1,511",3.64%,"15,330",AUSTRIA
11,3.15%,"2,748",3.23%,"13,611",RUSSIAN FEDERATION
12,0.02%,22,2.83%,"11,924",POLAND
13,0.47%,411,2.69%,"11,351",BULGARIA
14,0.64%,563,2.51%,"10,554",ROMANIA
15,0.73%,643,2.38%,"10,042",SWITZERLAND
16,0.24%,213,2.32%,"9,768",HUNGARY
17,0.51%,448,2.06%,"8,684",SPAIN
18,1.14%,998,2.01%,"8,477",NETHERLANDS
19,0.25%,224,2.01%,"8,466",CYPRUS
20,1.26%,"1,104",1.89%,"7,978",GREECE
21,0.02%,19,1.89%,"7,967",CZECH REPUBLIC
22,0.60%,525,1.72%,"7,243",THAILAND
2,3.57%,"3,114",0.96%,"4,075",ETHIOPIA
3,0.35%,310,0.96%,"4,066",BELGIUM
4,1.14%,996,0.69%,"2,902",MOLDOVA
5,0.23%,202,0.60%,"2,524",JORDAN
6,0.64%,565,0.45%,"1,910",BELARUS
7,0.78%,681,0.38%,"1,601",INDIA
8,1.02%,891,0.34%,"1,452",CANADA
9,0.09%,80,0.34%,"1,439",EGYPT
10,NaN,NaN,0.31%,"1,338",LITHUANIA
11,NaN,5,0.28%,"1,196",PORTUGAL
12,NaN,NaN,0.26%,"1,117",AZERBAIJAN
13,NaN,NaN,0.25%,"1,057",UZBEKISTAN
14,NaN,NaN,0.18%,766,BAHRAIN
15,NaN,NaN,0.08%,376,MALTA
16,0.40%,352,0.07%,303,SEYCHELLES
17,NaN,NaN,0.06%,271,LATVIA
18,0.92%,804,0.04%,187,אחרים
19,NaN,"87,196",NaN,"420,438",סה''כ

In [78]:
pdf_company_jan = tabula.read_pdf("TLV-Airport-Status-January-2022.pdf", pages="16-18")
print(len(pdf_company_jan))
print(pdf_company_jan)
pdf_company_jan[0].to_csv("pdf_company_jan0.csv")
pdf_company_jan[1].to_csv("pdf_company_jan1.csv")
pdf_company_jan[2].to_csv("pdf_company_jan2.csv")
pdf_company_jan[3].to_csv("pdf_company_jan3.csv")
pdf_company_jan[4].to_csv("pdf_company_jan4.csv")

7
[      שיעור שיעור.1  נוסעים שיעור.2 נוסעים.1                חברת תעופה  \
0    השינוי   מסה"כ     NaN   מסה"כ      NaN                       NaN
1       NaN  20.09%  17,524  21.30%   89,575     EL AL ISRAEL AIRLINES
2       NaN   0.90%     791  10.03%   42,204                   RYANAIR
3   191.07%  11.23%   9,793   6.77%   28,505          TURKISH AIRLINES
4   118.61%  13.36%  11,651   6.05%   25,471           UNITED AIRLINES
5       NaN   7.86%   6,854   5.26%   22,144          PEGASUS AIRLINES
6       NaN   0.71%     623   4.59%   19,310                   WIZZAIR
7       NaN   2.59%   2,263   4.10%   17,246           ISRAIR AIRLINES
8       NaN   4.59%   4,007   3.88%   16,334         UKRAINE INTL  AIR
9       NaN   3.92%   3,419   3.68%   15,489                 LUFTHANSA
10  139.03%   5.67%   4,947   2.81%   11,825                  FLYDUBAI
11      NaN   0.86%     754   2.77%   11,677                   EASYJET
12      NaN     NaN     NaN   2.65%   11,142         AMERICAN AIRLINES
13  108.49%   5.11%   4,463   2.21%    9,305            DELTA AIRLINES
14      NaN   2.09%   1,823   2.12%    8,919                       NaN
15      NaN     NaN     NaN     NaN      NaN          AEROFLOT RUSSIAN
16      NaN     NaN     NaN     NaN      NaN                       NaN
17      NaN     NaN     NaN     NaN      NaN                  AIRLINES
18      NaN   0.82%     723   1.55%    6,543  ARKIA  ISRAELI  AIRLINES
19      NaN   0.75%     655   1.45%    6,120                    K.L.M.
20  140.52%   2.81%   2,455   1.40%    5,905                AIR FRANCE
21      NaN   0.70%     617   1.36%    5,734     SWISS INT`L  AIRLINES
22      NaN     NaN     NaN   1.04%    4,412          GEORGIAN AIRWAYS
23  114.34%   2.21%   1,931   0.98%    4,139          TRANSAVIA FRANCE
24   31.39%   3.55%   3,096   0.96%    4,068        ETHIOPIAN AIRLINES

   Unnamed: 0
0         NaN
1          LY
2          FR
3          TK
4          UA
5          PC
6          W6
7          6H
8          PS
9          LH
10         FZ
11        EZY
12         AA
13         DL
14        NaN
15        NaN
16         SU
17        NaN
18         IZ
19         KL
20         AF
21         LX
22         A9
23         TO
24         ET  ,    תנועת נוסעים מצטברת בטיסות בינ''ל\rהתפלגות על פי חברות תעופה    Unnamed: 0  \
0                                                 NaN              מצטבר 2021
1                                       שיעור\rהשינוי            שיעור\rמסה"כ
2                                                 NaN                   1.14%
3                                                 NaN                     NaN
4                                                 NaN                     NaN
5                                             178.07%                   1.44%
6                                                 NaN                     NaN
7                                                 NaN                     NaN
8                                                 NaN                   0.41%
9                                                 NaN                     NaN
10                                            118.07%                   1.14%
11                                                NaN                     NaN
12                                                NaN                   0.64%
13                                                NaN                     NaN
14                                                NaN                     NaN
15                                            196.43%                   0.64%
16                                            141.47%                   0.76%
17                                                NaN                     NaN
18                                                NaN                     NaN
19                                             62.65%                   0.76%
20                                                NaN                     NaN
21                                                NaN                     NaN
22                                                NaN                     NaN

    Unnamed: 1    Unnamed: 2 Unnamed: 3                  Unnamed: 4 Unnamed: 5
0   מצטבר 2022           NaN        NaN                         NaN        NaN
1       נוסעים  שיעור\rמסה"כ     נוסעים                  חברת תעופה        NaN
2          995         0.95%      4,028            AEGEAN  AIRLINES         A3
3          NaN         0.95%      4,018                  SMARTWINGS         QS
4          NaN         0.84%      3,549              SKYUP AIRLINES         PQ
5        1,259         0.83%      3,501           AUSTRIAN AIRLINES         OS
6          NaN         0.82%      3,477                      IBERIA         IB
7          NaN         0.74%      3,143         LOT POLISH AIRLINES         LO
8          362         0.65%      2,748   AIR EUROPA Lineas\rAereas         UX
9          NaN         0.58%      2,454            ROYAL  JORDANIAN         RJ
10         996         0.51%      2,172                 AIR MOLDOVA         9U
11         NaN         0.46%      1,967                 TUS AIRWAYS         U8
12         565         0.45%      1,910             BELAVIA AIRLINE         B2
13         NaN         0.44%      1,879              ETIHAD AIRWAYS         EY
14         NaN         0.40%      1,690         BRITISH AIRWAYS PLC         BA
15         561         0.39%      1,663  TAROM - RUMANIAN AIR\rTRAN         RO
16         663         0.38%      1,601                   AIR INDIA         AI
17         NaN         0.32%      1,378           EGYPTAIR AIRLINES         MS
18         NaN         0.32%      1,365               BULGARIA  AIR         FB
19         664         0.25%      1,080    VIRGIN ATLANTIC\rAIRWAYS         VS
20         NaN         0.25%      1,077         AZERBAIJAN AIRLINES         J2
21         NaN         0.25%      1,057              UZBEKISTAN AIR         HY
22         NaN         0.19%        829           CORONDON AIRLINES         XC  , Empty DataFrame
Columns: [13]
Index: [], Empty DataFrame
Columns: [לשכת מנהל נמל התעופה הבינלאומי בן-גוריון]
Index: [],    תנועת נוסעים מצטברת בטיסות בינ''ל\rהתפלגות על פי חברות תעופה    Unnamed: 0  \
0                                                 NaN              מצטבר 2021
1                                       שיעור\rהשינוי            שיעור\rמסה"כ
2                                                 NaN                     NaN
3                                                 NaN                     NaN
4                                                 NaN                     NaN
5                                                 NaN                     NaN
6                                                 NaN                     NaN
7                                                 NaN                     NaN
8                                                 NaN                     NaN
9                                                 NaN                     NaN
10                                                NaN                     NaN
11                                             62.03%                   0.21%
12                                                NaN                     NaN
13                                                NaN                     NaN
14                                            -40.46%                   2.93%
15                                                NaN                     NaN

    Unnamed: 1    Unnamed: 2 Unnamed: 3                  Unnamed: 4 Unnamed: 5
0   מצטבר 2022           NaN        NaN                         NaN        NaN
1       נוסעים  שיעור\rמסה"כ     נוסעים                  חברת תעופה        NaN
2          NaN         0.19%        822                   TRANSAVIA         HV
3          NaN         0.18%        775           BRUSSELS AIRLINES         SN
4          NaN         0.17%        741          GULF AIR - BAHREIN         GF
5          NaN         0.17%        728                      FLYONE         5F
6          NaN         0.15%        664     ITALIA TRASPORTO\rAEREO         AZ
7          NaN         0.15%        652            ROSSIYA AIRLINES         FV
8          NaN         0.12%        546                   NORD WIND         N4
9          NaN         0.07%        334       VUELING AIRLINES S.A.         VY
10         NaN         0.07%        318           BLUE BIRD AIRWAYS         BZ
11         187         0.07%        303              AIR SEYCHELLES         HM
12         NaN         0.06%        271                  AIR BALTIC         BT
13         NaN         0.02%        110  WIND ROSE AVIATION Co.\rLt         7W
14       2,555         0.36%      1,521                       אחרים        NaN
15      87,196           NaN    420,438                       סה''כ        NaN  , Empty DataFrame
Columns: [14]
Index: [], Empty DataFrame
Columns: [לשכת מנהל נמל התעופה הבינלאומי בן-גוריון]
Index: []]

In [79]:
df0_company = pd.read_csv("pdf_company_jan0.csv")
df1_company = pd.read_csv("pdf_company_jan1.csv")
df2_company = pd.read_csv("pdf_company_jan4.csv")

In [80]:
df0_company

,Unnamed: 0,שיעור,שיעור.1,נוסעים,שיעור.2,נוסעים.1,חברת תעופה,Unnamed: 0.1
0,0,השינוי,"מסה""כ",NaN,"מסה""כ",NaN,NaN,NaN
1,1,NaN,20.09%,"17,524",21.30%,"89,575",EL AL ISRAEL AIRLINES,LY
2,2,NaN,0.90%,791,10.03%,"42,204",RYANAIR,FR
3,3,191.07%,11.23%,"9,793",6.77%,"28,505",TURKISH AIRLINES,TK
4,4,118.61%,13.36%,"11,651",6.05%,"25,471",UNITED AIRLINES,UA
5,5,NaN,7.86%,"6,854",5.26%,"22,144",PEGASUS AIRLINES,PC
6,6,NaN,0.71%,623,4.59%,"19,310",WIZZAIR,W6
7,7,NaN,2.59%,"2,263",4.10%,"17,246",ISRAIR AIRLINES,6H
8,8,NaN,4.59%,"4,007",3.88%,"16,334",UKRAINE INTL AIR,PS
9,9,NaN,3.92%,"3,419",3.68%,"15,489",LUFTHANSA,LH
10,10,139.03%,5.67%,"4,947",2.81%,"11,825",FLYDUBAI,FZ
11,11,NaN,0.86%,754,2.77%,"11,677",EASYJET,EZY
12,12,NaN,NaN,NaN,2.65%,"11,142",AMERICAN AIRLINES,AA
13,13,108.49%,5.11%,"4,463",2.21%,"9,305",DELTA AIRLINES,DL
14,14,NaN,2.09%,"1,823",2.12%,"8,919",NaN,NaN
15,15,NaN,NaN,NaN,NaN,NaN,AEROFLOT RUSSIAN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,SU
17,17,NaN,NaN,NaN,NaN,NaN,AIRLINES,NaN
18,18,NaN,0.82%,723,1.55%,"6,543",ARKIA ISRAELI AIRLINES,IZ
19,19,NaN,0.75%,655,1.45%,"6,120",K.L.M.,KL
20,20,140.52%,2.81%,"2,455",1.40%,"5,905",AIR FRANCE,AF
21,21,NaN,0.70%,617,1.36%,"5,734",SWISS INT`L AIRLINES,LX
22,22,NaN,NaN,NaN,1.04%,"4,412",GEORGIAN AIRWAYS,A9
23,23,114.34%,2.21%,"1,931",0.98%,"4,139",TRANSAVIA FRANCE,TO
24,24,31.39%,3.55%,"3,096",0.96%,"4,068",ETHIOPIAN AIRLINES,ET

In [82]:
df0_company = df0_company.drop(['Unnamed: 0.1'],axis=1)
df0_company = df0_company.drop(['Unnamed: 0'],axis=1)
df0_company = df0_company.iloc[1:]
df0_company = df0_company.rename(columns={'חברת תעופה': 'Company'})
df0_company = df0_company.rename(columns={'נוסעים.1': 'Passengers'})
df0_company = df0_company.rename(columns={'שיעור.2': 'Passengers %'})
df0_company = df0_company.rename(columns={'נוסעים': 'Passengers Last-Y'})
df0_company = df0_company.rename(columns={'שיעור.1': 'Passengers % Last-Y'})
df0_company = df0_company.rename(columns={'שיעור': 'Change %'})
df0_company = df0_company.drop(['Passengers Last-Y'],axis=1)
df0_company = df0_company.drop(['Passengers % Last-Y'],axis=1)
df0_company = df0_company.drop(['Change %'],axis=1)
df0_company = df0_company.drop([15,16,17])
df0_company['Company'] = df0_company['Company'].str.replace('NaN','AEROFLOT RUSSIAN')
df0_company

KeyError: "['Unnamed: 0.1'] not found in axis"

In [83]:
df1_company = df1_company.drop(['Unnamed: 5'],axis=1)
df1_company = df1_company.drop(['Unnamed: 0.1'],axis=1)
df1_company = df1_company.drop(['Unnamed: 1'],axis=1)
df1_company = df1_company.drop(df1_company.iloc[:, [0, 0]], axis=1)
df1_company = df1_company.rename(columns={'Unnamed: 4': 'Company'})
df1_company = df1_company.rename(columns={'Unnamed: 3': 'Passengers'})
df1_company = df1_company.rename(columns={'Unnamed: 2': 'Passengers %'})
df1_company = df1_company.iloc[2:]
df1_company = df1_company.drop(df1_company.iloc[:, [0, 0]], axis=1)
df1_company

   Passengers % Passengers                     Company
2         0.95%      4,028            AEGEAN  AIRLINES
3         0.95%      4,018                  SMARTWINGS
4         0.84%      3,549              SKYUP AIRLINES
5         0.83%      3,501           AUSTRIAN AIRLINES
6         0.82%      3,477                      IBERIA
7         0.74%      3,143         LOT POLISH AIRLINES
8         0.65%      2,748   AIR EUROPA Lineas\rAereas
9         0.58%      2,454            ROYAL  JORDANIAN
10        0.51%      2,172                 AIR MOLDOVA
11        0.46%      1,967                 TUS AIRWAYS
12        0.45%      1,910             BELAVIA AIRLINE
13        0.44%      1,879              ETIHAD AIRWAYS
14        0.40%      1,690         BRITISH AIRWAYS PLC
15        0.39%      1,663  TAROM - RUMANIAN AIR\rTRAN
16        0.38%      1,601                   AIR INDIA
17        0.32%      1,378           EGYPTAIR AIRLINES
18        0.32%      1,365               BULGARIA  AIR
19        0.25%      1,080    VIRGIN ATLANTIC\rAIRWAYS
20        0.25%      1,077         AZERBAIJAN AIRLINES
21        0.25%      1,057              UZBEKISTAN AIR
22        0.19%        829           CORONDON AIRLINES

In [84]:
df2_company

,Unnamed: 0,תנועת נוסעים מצטברת בטיסות בינ''ל\rהתפלגות על פי חברות תעופה,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,NaN,מצטבר 2021,מצטבר 2022,NaN,NaN,NaN,NaN
1,1,שיעור\rהשינוי,"שיעור\rמסה""כ",נוסעים,"שיעור\rמסה""כ",נוסעים,חברת תעופה,NaN
2,2,NaN,NaN,NaN,0.19%,822,TRANSAVIA,HV
3,3,NaN,NaN,NaN,0.18%,775,BRUSSELS AIRLINES,SN
4,4,NaN,NaN,NaN,0.17%,741,GULF AIR - BAHREIN,GF
5,5,NaN,NaN,NaN,0.17%,728,FLYONE,5F
6,6,NaN,NaN,NaN,0.15%,664,ITALIA TRASPORTO\rAEREO,AZ
7,7,NaN,NaN,NaN,0.15%,652,ROSSIYA AIRLINES,FV
8,8,NaN,NaN,NaN,0.12%,546,NORD WIND,N4
9,9,NaN,NaN,NaN,0.07%,334,VUELING AIRLINES S.A.,VY
10,10,NaN,NaN,NaN,0.07%,318,BLUE BIRD AIRWAYS,BZ
11,11,62.03%,0.21%,187,0.07%,303,AIR SEYCHELLES,HM
12,12,NaN,NaN,NaN,0.06%,271,AIR BALTIC,BT
13,13,NaN,NaN,NaN,0.02%,110,WIND ROSE AVIATION Co.\rLt,7W
14,14,-40.46%,2.93%,"2,555",0.36%,"1,521",אחרים,NaN
15,15,NaN,NaN,"87,196",NaN,"420,438",סה''כ,NaN

In [85]:
df2_company = df2_company.iloc[2:]
df2_company = df2_company.drop(['Unnamed: 5'],axis=1)
df2_company = df2_company.drop(['Unnamed: 0'],axis=1)
df2_company = df2_company.drop(df2_company.iloc[:, [0, 0]], axis=1)
df2_company = df2_company.rename(columns={'Unnamed: 3': 'Passengers'})
df2_company = df2_company.rename(columns={'Unnamed: 4': 'Company'})
df2_company = df2_company.rename(columns={'Unnamed: 2': 'Passengers %'})
df2_company = df2_company.drop(['Unnamed: 1'],axis=1)
df2_company = df2_company.drop(['Unnamed: 0.1'],axis=1)
df2_company

   Passengers % Passengers                     Company
2         0.19%        822                   TRANSAVIA
3         0.18%        775           BRUSSELS AIRLINES
4         0.17%        741          GULF AIR - BAHREIN
5         0.17%        728                      FLYONE
6         0.15%        664     ITALIA TRASPORTO\rAEREO
7         0.15%        652            ROSSIYA AIRLINES
8         0.12%        546                   NORD WIND
9         0.07%        334       VUELING AIRLINES S.A.
10        0.07%        318           BLUE BIRD AIRWAYS
11        0.07%        303              AIR SEYCHELLES
12        0.06%        271                  AIR BALTIC
13        0.02%        110  WIND ROSE AVIATION Co.\rLt
14        0.36%      1,521                       אחרים
15          NaN    420,438                       סה''כ

In [86]:
df_company = pd.concat([df0_company,df1_company,df2_company])
df_company

   Passengers % Passengers                     Company
1        21.30%     89,575       EL AL ISRAEL AIRLINES
2        10.03%     42,204                     RYANAIR
3         6.77%     28,505            TURKISH AIRLINES
4         6.05%     25,471             UNITED AIRLINES
5         5.26%     22,144            PEGASUS AIRLINES
6         4.59%     19,310                     WIZZAIR
7         4.10%     17,246             ISRAIR AIRLINES
8         3.88%     16,334           UKRAINE INTL  AIR
9         3.68%     15,489                   LUFTHANSA
10        2.81%     11,825                    FLYDUBAI
11        2.77%     11,677                     EASYJET
12        2.65%     11,142           AMERICAN AIRLINES
13        2.21%      9,305              DELTA AIRLINES
14        2.12%      8,919                         NaN
18        1.55%      6,543    ARKIA  ISRAELI  AIRLINES
19        1.45%      6,120                      K.L.M.
20        1.40%      5,905                  AIR FRANCE
21        1.36%      5,734       SWISS INT`L  AIRLINES
22        1.04%      4,412            GEORGIAN AIRWAYS
23        0.98%      4,139            TRANSAVIA FRANCE
24        0.96%      4,068          ETHIOPIAN AIRLINES
2         0.95%      4,028            AEGEAN  AIRLINES
3         0.95%      4,018                  SMARTWINGS
4         0.84%      3,549              SKYUP AIRLINES
5         0.83%      3,501           AUSTRIAN AIRLINES
6         0.82%      3,477                      IBERIA
7         0.74%      3,143         LOT POLISH AIRLINES
8         0.65%      2,748   AIR EUROPA Lineas\rAereas
9         0.58%      2,454            ROYAL  JORDANIAN
10        0.51%      2,172                 AIR MOLDOVA
11        0.46%      1,967                 TUS AIRWAYS
12        0.45%      1,910             BELAVIA AIRLINE
13        0.44%      1,879              ETIHAD AIRWAYS
14        0.40%      1,690         BRITISH AIRWAYS PLC
15        0.39%      1,663  TAROM - RUMANIAN AIR\rTRAN
16        0.38%      1,601                   AIR INDIA
17        0.32%      1,378           EGYPTAIR AIRLINES
18        0.32%      1,365               BULGARIA  AIR
19        0.25%      1,080    VIRGIN ATLANTIC\rAIRWAYS
20        0.25%      1,077         AZERBAIJAN AIRLINES
21        0.25%      1,057              UZBEKISTAN AIR
22        0.19%        829           CORONDON AIRLINES
2         0.19%        822                   TRANSAVIA
3         0.18%        775           BRUSSELS AIRLINES
4         0.17%        741          GULF AIR - BAHREIN
5         0.17%        728                      FLYONE
6         0.15%        664     ITALIA TRASPORTO\rAEREO
7         0.15%        652            ROSSIYA AIRLINES
8         0.12%        546                   NORD WIND
9         0.07%        334       VUELING AIRLINES S.A.
10        0.07%        318           BLUE BIRD AIRWAYS
11        0.07%        303              AIR SEYCHELLES
12        0.06%        271                  AIR BALTIC
13        0.02%        110  WIND ROSE AVIATION Co.\rLt
14        0.36%      1,521                       אחרים
15          NaN    420,438                       סה''כ

In [87]:
df_country.to_csv('final_country_jan.csv')
df_company.to_csv('final_company_jan.csv')